.spinnerContainer {
  text-align: center;
  margin-top: 3em;
}
.spinner {
    font-size: 3em;
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

.card-text {
    font-size: 0.5em;
}

.company {
    color: #737576;
}

.mainView h1 {
    text-align: center;
    margin: 0.7em;
}

.card-title {
    display: inline-block;
}

.emailButton {
    float: right;
}

.center {
    text-align: center;
}

/*.removeNote {
    color: red;
    cursor: pointer;
    margin-right: 0.3rem;
}

.noteText {
    display: inline-block;
}*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media (min-width: 992px) {
    .col-lg-6:nth-child(odd) {
        clear: both;
    }
}